.main {
    padding: 100px 0px 60px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    &_info {
        margin-bottom: 260px;
        &-title {
            margin-bottom: 32px;
            font-size: 72px;
            font-weight: bold;
            line-height: 98px;
            width: 730px;
        }
        &_btn {
            padding: 16px 40px;
            background: #8c30f5;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            border-radius: 6px;
            border: 2px solid transparent;
            transition: all 0.4s;

            &:hover {
                border: 2px solid #8c30f5;
                background: #fff;
                color: #8c30f5;
                transition: all 0.4s;
            }
        }
    }

    img {
    }
}
